@using ADVA_FrontEnd.Models.DTOS;
@model IEnumerable<EmployeeDto>


    <div class="row m-4 text-end">
        <div class="col-12">
        <a type="submit" class="btn btn-primary" asp-action="CreateProduct">Create Employee</a>
        </div>
    </div>


<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>Name</th>
            <th>Sallary</th>
            <th>Department</th>
            <th>Manager</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.Name</td>
                <td>@n.Salary $</td>
                <td>@n.Department.Name</td>
                @if (n.Manager != null)
                {
                    <td>@n.Manager!.Name</td>
                }
                else
                {
                    <td>Non a manager</td>    
                }
                <td>
                     <a type="submit" asp-action="DeleteEmployee" asp-route-employeeId="@n.Id" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a type="submit" asp-action="UpdateEmployee" asp-route-employeeId="@n.Id" class="btn btn-primary">Update</a>
                </td>
            </tr>
        }
    </tbody>

</table>